@font-face {
    font-family: 'Raleway';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Raleway/static/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Raleway';
    font-weight: medium;
    font-style: normal;
    src: url('../fonts/Raleway/static/Raleway-Medium.ttf');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Raleway/static/Raleway-Medium.ttf');
}

@font-face {
    font-family: 'Raleway';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/Raleway/static/Raleway-Bold.ttf');
}

* {
    -fx-font-family: 'Raleway';
}

Text {
    -fx-text-fill: #333;
}

Button {
    -fx-padding: 10px 24px;
    -fx-font-size: 12px;
    -jfx-button-type: raised;
    -fx-background-color: #dadada;
    -fx-text-fill: #000;
    -fx-font-weight: medium;
    -fx-cursor: hand;
    -fx-transition: 0.1s;
}

Button:hover{
    -fx-background-color: #cacaca;
}

VBox {
    padding: 20px;
}

TextField, PasswordField {
    -fx-background-color: transparent;
    -fx-padding: 10px 12px;
    -fx-max-width: 260px;
    -fx-font-size: 13px;
    -fx-border-color: #dadada;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-font-weight: bold;
}



/* TABLES */

.table-view,
.table-view .column-header,
.table-view .column-header-background .filler,
.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: -hlight-gradient;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: -tertiary;
}

.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell: highlighted {
    -fx-background-color: -primary;
    -fx-background-radius: 5px;
    -fx-background-insets: 2px;
}

.table-row-cell: selected {
    -fx-background-color: -tertiary;
    -fx-text-background-color: white;
    -fx-background-radius: 5px;
    -fx-background-insets: 2px;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  -hlight-gradient;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}